outputs/
**/outputs/
**/__pycache__/
*.pyc
mind_sim/mind_mod_ca3/libmindcorenrnmech.so
mind_sim/mind_mod_ca3/core/
mind_sim/mind_mod_ca3/scratch/
netpyne_tvb_multiscale/micro-only/modeldb_186768/x86_64/
netpyne_tvb_multiscale/micro-only/modeldb_186768/i686/
netpyne_tvb_multiscale/micro-only/modeldb_186768/aarch64/
netpyne_tvb_multiscale/micro-only/modeldb_186768/arm64/
netpyne_tvb_multiscale/micro-only/modeldb_186768/*.o
netpyne_tvb_multiscale/micro-only/modeldb_186768/*.c
netpyne_tvb_multiscale/micro-only/modeldb_186768/*.cpp
netpyne_tvb_multiscale/micro-only/modeldb_186768/*.so
netpyne_tvb_multiscale/micro-only/modeldb_186768/*.dll
netpyne_tvb_multiscale/micro-only/modeldb_186768/nrnmech.dll
netpyne_tvb_multiscale/micro-only/modeldb_186768/special
netpyne_tvb_multiscale/micro-only/modeldb_186768/mod_func.*
netpyne_tvb_multiscale/micro-only/modeldb_186768/.libs/
netpyne_tvb_multiscale/micro-only/modeldb_186768/CMakeFiles/
netpyne_tvb_multiscale/micro-only/modeldb_186768/CMakeCache.txt
netpyne_tvb_multiscale/micro-only/modeldb_186768/cmake_install.cmake
