outputs/
__pycache__/
*.pyc
mind_mod_ca3/libmindcorenrnmech.so
mind_mod_ca3/core/
mind_mod_ca3/scratch/
modeldb_186768/x86_64/
modeldb_186768/i686/
modeldb_186768/aarch64/
modeldb_186768/arm64/
modeldb_186768/*.o
modeldb_186768/*.c
modeldb_186768/*.cpp
modeldb_186768/*.so
modeldb_186768/*.dll
modeldb_186768/nrnmech.dll
modeldb_186768/special
modeldb_186768/mod_func.*
modeldb_186768/.libs/
modeldb_186768/CMakeFiles/
modeldb_186768/CMakeCache.txt
modeldb_186768/cmake_install.cmake
