outputs/
**/__pycache__/
*.pyc

mind_sim/mod/*.inc
mind_sim/mod/*.mod
!mind_sim/mod/ca3_bas_spikes_to_vep.mod
!mind_sim/mod/ca3_input_macro2macro.mod
!mind_sim/mod/ca3_input_to_spikes.mod
!mind_sim/mod/ca3_olm_spikes_to_vep.mod
!mind_sim/mod/ca3_pyr_spikes_to_vep.mod
!mind_sim/mod/tvb_epileptor2d.mod
!mind_sim/mod/vep_x_macro2macro.mod
neuron_tvb/mod/*.inc
neuron_tvb/mod/*.mod

mind_sim/mod/*/
neuron_tvb/mod/*/
